[
    {
        "Notification": {
            "ComparisonOperator": "GREATER_THAN",
            "NotificationType": "ACTUAL",
            "Threshold": 80,
            "ThresholdType": "PERCENTAGE"
        },
        "Subscribers": [
            {
                "Address": "reddy.sandeep146@gmail.com",
                "SubscriptionType": "EMAIL"
            }
        ]
    }
]
